@import "./../mixins/offer";
@import "./../config/filter";

:global {
    .spriteBank {
        width: 30px;
        height: 30px;
    }
    .filterModal {
        background-color: #ecf0f1;
        font-size: 14px;
        display: block;
        margin: 0 0 50px;
        height: 100%;
        ul {
            padding: 0 10px;
        }
    }
    .filterTitle {
        background-color: #2980b9;
        color: #fff;
        font-size: 12px;
        padding: 10px;
    }
    .iconWidth {
        float: left;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .filterSprite {
        background-color: #ffff00;
    }
    .filterName {
        line-height: 20px;
        padding: 8px 0;
    }
    .filterControl {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        .btn {
            width: 50%;
            border-radius: 0;
            padding: 12px 10px;
            &.btnLeft {
                color: #000;
                background-color: #fff;
            }
            &.btnRight {
                background-color: #1abc9c;
            }
        }
    }
}

@include sprite-offer($sprite-config);