@import "./../mixins/animation";
@import "./../mixins/functions";
@import "./../mixins/offer";
@import "./../config/offer";

.offerSprite:before {
    background-image: url(/images/offerflow/sprite-offers-mob.png);
    background-position: 0 100px;
}

.offerSpriteGV {
    background-image: url(/images/offerflow/sprite-gift-voucher-ab1-mob.png);
    background-repeat: no-repeat;
    background-position: 0 100px;
}

@include offerRow($number-of-column: 2, $text-config: $text-color);
@include checkbox($checkbox-width: 0, $checkbox-height: 0, $checkbox-position: absolute, $checkbox-top: (left:-25px,top:50%),$checkbox-radius: 0,$checkbox-before: (height: 20px,width: 20px));
@include badges($color-config: $text-color, $font-size: 10px, $text-transform: uppercase, $other-config: (width: 92px, left: -7px, top: -16px, position: absolute, z-index: 1));
@include SlidingAnimation($slide-width: 10px, $slide-height: 18px, $other-config: (position: absolute, left: 0, top: -2px));

.offerSection {
    background-color: #d7d8dd;

    .sponsorOffer {
        background-color: map-deep-get($text-color, offer, bgsponsorcolor);
    }

    .offerTopSection {
        padding: 5px 5px 5px 98px;
        min-height: 90px;
    }

    .ad {
        .title:after {
            width: 18px;
            margin-left: 5px;
            @extend .textWithIconSmall:before;
            @extend .offerSprite:before;
        }
    }

    .offerImageSection {
        position: absolute;
        left: 10px;
        top: 10px;
        background: #f4f4f5;
        text-align: center;
    }

    input.checkbox {
        margin: -10px 0 0;
    }

    .offerButton {
        color: map-deep-get($text-color, offerButton, textcolor);
        float: right;
        border: 1px solid map-deep-get($text-color, offerButton, bordercolor);
        padding: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: map-deep-get($text-color, offerButton, textsize);
    }

    .giftVoucher {
        margin: 3px 0;
        padding-left: 16px;
    }

    .paperless {
        .offerImageSection {
            top: 24px;
        }
    }

    &.offersCompare {
        .offerTopSection {
            padding: 5px 5px 5px 120px;
        }
        .offerImageSection {
            left: 30px;
        }
    }

    .offerBottomSection {
        background: map-deep-get($text-color, bottomsection, bgcolor);
        color: map-deep-get($text-color, viewdetails, textcolor);
        line-height: 22px;
        span:before {
            margin: -2px 1px 0 4px;
        }
        .viewDetails {
            color: map-deep-get($text-color, viewdetails, textcolor);
            padding: 0 0 0 10px;
            float: right;
            width: 90px;
            &:after {
                width: 14px;
                margin-left: 5px;
                height: 8px;
                @extend .textWithIconSmall:before;
                @extend .offerSprite:before;
            }
        }
    }

    .offerDetailsSection {
        background: map-deep-get($offer-details, offer-details, bgColor);
        .detailsTitle {
            background: map-deep-get($offer-details, offer-details-title, bgColor);
            color: map-deep-get($offer-details, offer-details-title, textColor);
            padding: 5px 0 5px 10px;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1;
        }
        ul {
            margin: 5px 10px 10px 3px;
            &.downloads {
                li {
                    list-style: none;
                    margin-left: 10px;
                }
            }
            li {
                color: map-deep-get($offer-details, offer-details-title-li, textColor);
                padding: 0 0 3px;
                list-style: disc;
                margin-left: 20px;
                &.disabled {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
                .subTitle {
                    color: map-deep-get($offer-details, customer-review-sub-title, textColor);
                    span {
                        color: map-deep-get($offer-details, customer-review-span, textColor);
                    }
                }
            }
        }
    }
}

@include sprite-offer($sprite-config);