$filterSticky: (
    filterSticky: (
        textSize: 12px,
        textColor: #34495e,
    ),
    offerCountInfo: (
        bgColor: #f7f7f7,
    ),
    filterBtn: (
        textColor: #006ca0
    )
);