$text-color: (
    title: (
        textcolor: #354962,
        textcase: uppercase,
        textweight: bold,
    ),
    textvalue: (
        textcolor: #4748b2,
        textsize: 16px,
    ),
    textvaluescondary: (
        textcolor: #999999,
        textsize: 8px,
        textcase: uppercase
    ),
    textrewards: (
        textcolor: #ffffff,
        textsize: 10px,
        textweight: normal,
        textlineheight: 10px,
        texttransform: uppercase
    ),
    viewdetails: (
        textcolor: #ffffff,
        arrowcolor: #ffffff
    ),
    bottomsection: (
        bgcolor: #6566e5
    ),
    paperlessbadge: (
        textcolor: #ffffff,
        textsize: 10px,
        bgcolor: #1bbc9b,
        paddingSize: 2px,
        borderWidthBefore: 7px 0 0 7px,
        borderWidthAfter: 7px 7px 0 0,
        borderColor: #03967a transparent
    ),
    offerButton: (
        textcolor: #6267e7,
        textsize: 11px,
        bordercolor: #6267e7
    ),
    offer: (
        textsize: 12px,
        textcolor: #77787d,
        bgcolor: #ffffff,
        bgsponsorcolor: #f3f2ff
    )
);

$offer-details: (
    offer-details: (
        bgColor: #ffffff,
        borderColor: #6566e5
    ),
    offer-details-title: (
        bgColor: #fafafb,
        textColor: #4748b2
    ),
    offer-details-title-li: (
        textColor: #969696
    ),
    customer-review-sub-title: (
        textColor: #4286F5
    ),
    customer-review-span: (
        textColor: #344a5f
    )
);

$sprite-config:
    ("Custom"),
    ("amazon", 0, 0),
    ("UserRating:before", 0, 0),
    ("RsOne:before", 0, 1),
    ("RsTwo:before", 0, 2),
    ("Ads:after", 0, 6, ".ad"),
    ("ViewDetails:after", 0, 3, ".offerBottomSection"),
    ("ViewDetails:after", 0, 4, ".offerBottomSection .viewDetails.viewLess"),
    ("download:before", 0, 8),
    ("CheckBox:before", 0, 9),
    ("CheckBox:checked:before", 0, 11),
    ("Filter:before", 0, 13),
    ("Fuel:before", 1, 0),
    ("Airline:before", 1, 1),
    ("Dining:before", 1, 2),
    ("Rewards:before", 1, 3),
    ("Premium:before", 1, 4),
    ("Freecard:before", 1, 5),
    ("Shopping:before", 1, 6),
    ("Cashback:before", 1, 7),
    ("Lowfee:before", 1, 8),
    ("Travel:before", 1, 9),
    ("Lifestyle:before", 1, 11),
    ("Duel:before", 1, 12, ".compare-section"),
    ("Airline:before", 1, 13, ".compare-section"),
    ("Dining:before", 1, 14, ".compare-section"),
    ("Rewards:before", 1, 15, ".compare-section"),
    ("Premium:before", 1, 16, ".compare-section"),
    ("Freecard:before", 1, 17, ".compare-section"),
    ("Shopping:before", 1, 18, ".compare-section"),
    ("Cashback:before", 1, 19, ".compare-section"),
    ("Lowfee:before", 1, 20, ".compare-section"),
    ("Travel:before", 1, 21, ".compare-section"),
    ("Lifestyle:before", 1, 22, ".compare-section"),
    ("Experss-disbursal:before", 2, 0),
    ("Savings-fuel:before", 2, 2),
    ("TravelCard:before", 2, 3),
    ("Reward:before", 2, 4),
    ("Dining-privileges:before", 2, 5),
    ("Free-card:before", 2, 7),
    ("Cashbacks:before", 2, 9),
    ("Great-value-money:before", 2, 10),
    ("Movie-tickets:before", 2, 11),
    ("Privileges:before", 2, 12),
    ("Zero-annual-fee:before", 2, 13),
    ("Savings:before", 2, 14),
    ("Cash-rewards:before", 2, 15),
    ("Discounts:before", 2, 16),
    ("Foodies:before", 2, 17),
    ("Travel-dining:before", 2, 18),
    ("Domestic-international:before", 2, 19),
    ("6-year-tenure:before", 6, 0),
    ("Zero-part-payment-fee:before", 6, 1),
    ("Part-payment:before", 6, 1),
    ("Zero-processing-fee:before", 6, 2),
    ("Top-up-loan-facility:before", 6, 3),
    ("Balance-transfer:before", 6, 4),
    ("No-guarantor:before", 6, 5),
    ("E-approval:before", 6, 7),
    ("First-time-borrowers:before", 6, 8),
    ("Low-interest-rate:before", 6, 9),
    ("Zero-pre-closure-fee:before", 6, 10),
    ("Pre-closure:before", 6, 10),
    ("Low-pre-closure-fee:before", 6, 11),
    ("Loan-protect-insurance-facility:before", 6, 12),
    ("Low-processing-fee:before", 6, 13),
    ("Prepayment-option:before", 6, 14);