@import "../mixins/animation";
@import "../mixins/functions";
@import "../mixins/offer";
@import "../config/offer";

.offerSprite:before {
    background-image: url(/images/offerflow/sprite-offers-mob.png);
    background-position: 0 100px;
}

@include offerRow($number-of-column: 2, $text-config: $text-color);

.offerSection {
    background-color: #d7d8dd;

    .sponsorOffer {
        background-color: map-deep-get($text-color, offer, bgsponsorcolor);
    }

    .offerTopSection {
        padding: 5px 5px 5px 98px;
        min-height: 90px;
    }

    .offerImageSection {
        position: absolute;
        left: 10px;
        top: 10px;
        background: #f4f4f5;
        text-align: center;
    }

    input.checkbox {
        margin: -10px 0 0;
    }

    .offerButton {
        color: map-deep-get($text-color, offerButton, textcolor);
        float: right;
        border: 1px solid map-deep-get($text-color, offerButton, bordercolor);
        padding: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: map-deep-get($text-color, offerButton, textsize);
    }

    &.offersCompare {
        .offer {
            :global {
                @include checkbox($checkbox-width: 20px, $checkbox-height: 20px, $checkbox-position: absolute, $checkbox-top: (left:-24px,top:50%,margin-top:-10px),$checkbox-radius: 0,$checkbox-checked-after: (height:9px,width:4px));
            }
        }
        .offerTopSection {
            padding: 5px 5px 5px 120px;
        }
        .offerImageSection {
            left: 30px;
        }
    }
}

.moreOffers, .offerScrollTop {
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    left: 50%;
    margin-left: -42px;
    bottom: 5%;
    z-index: 1;
    font-weight: bold;
    box-shadow: 0 2px 14px -1px #000;
}

.offerScrollTop {
    padding: 18px;
    border-radius: 100%;
    left: 50%;
    margin-left: -20px;
}

@include sprite-offer($sprite-config);