@import "./../mixins/offer";
@import "./../mixins/Sprite";

.UserRating {
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -15px;
    &:before {
        @extend %textWithIcon;
        width: 12px;
    }
}