.offerSection {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.offerRow {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
}