:global {
    input {
        &.checkcontainer {
            width: 16px;
            height: 16px;
            margin: 0;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background-color: #bdc3c7;
                border-radius: 4px;
            }
            &:checked:after {
                content: "";
                position: absolute;
                width: 3px;
                height: 7px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                left: 35%;
                top: 16%;
            }
            &:checked:before {
                background-color: #1abc9c;
            }
        }
    }
}